<label>
  <button {{action "addNewToColumn1" col1}}> Add to Column 1 </button>
  {{input value=col1}}
</label>

<label>
  <button {{action "addNewToColumn2" col2}}> Add to Column 2 </button>
  {{input value=col2}}
</label>

<label>
  <button {{action "addNewToColumn3" col3}}> Add to Column 3 </button>
  {{input value=col3}}
</label>

<label>
  <button {{action "changeIssueOrder"}}> Change Issue Order </button>
</label>

<label>
  <br>
  <button {{action "addHundredsOfCards"}}> PUMP it up! </button>
</label>
